.header{
  background-color: rgb(235, 114, 209);
  color: white;
  padding: 11px;
 
  .title{
    text-align: center;
  }

  .link-list{
    display: flex;
    justify-content: space-around;
  }
  .link{
    color: white;
    text-decoration: none;
  }
}

  